*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#141E30,#243B55);

overflow:hidden;

}

.login{

width:350px;

padding:40px;

background:white;

border-radius:20px;

box-shadow:0 20px 40px rgba(0,0,0,.3);

}

h2{

text-align:center;

margin-bottom:30px;

}

input{

width:100%;

padding:15px;

margin:15px 0;

font-size:18px;

border-radius:10px;

border:2px solid #ddd;

transition:.3s;

}

input:focus{

border-color:dodgerblue;

outline:none;

box-shadow:0 0 15px cyan;

}

button{

width:100%;

padding:15px;

font-size:18px;

border:none;

border-radius:10px;

cursor:pointer;

background:dodgerblue;

color:white;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

#finger{

position:absolute;

font-size:55px;

left:100px;

top:100px;

transition:1s ease;

pointer-events:none;

}